<%- include('partials/header') %>
<h1 class="mb-4">Welcome to Event Manager</h1>
<a href="/organiser" class="btn btn-primary">Organiser Home</a>
<a href="/attendee" class="btn btn-success ms-2">Attendee Home</a>
<%- include('partials/footer') %>